<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rx-Main" version="1.0.11226" targetFramework="wp71" />
  <package id="Rx-Xaml" version="1.0.10621" targetFramework="wp71" />
  <package id="SilverlightToolkitWP" version="4.2012.6.25" targetFramework="wp71" />
  <package id="WP7Contrib.Controls" version="1.0.0.16" targetFramework="wp71" />
  <package id="WP7Contrib.Core" version="1.0.0.16" targetFramework="wp71" />
</packages>